<!DOCTYPE html>
<html ng-app="speechApp">

<head>
    <meta charset="UTF-8">
    <title>Speech to Text in AngularJS</title>
</head>

<body ng-controller="SpeechCtrl">
    <h1>Speech to Text</h1>
    <div>
        <select class="selectDropDown" name="lang" id="lang_id" ng-model="langInput.langId">
            <option value="{{x.id}}" ng-repeat="x in langList">{{x.name}}</option>
        </select>
    </div>
    <button ng-click="startRecognition()">Start Speech Recognition</button>
    <p>Transcription: {{ transcript }}</p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script>
        var app = angular.module('speechApp', []);

        app.controller('SpeechCtrl', ['$scope', function ($scope) {
            $scope.transcript = '';
            $scope.langInput = {};
            $scope.langList = [
                { id: 'en-IN', name: 'English' },
                { id: 'mr-IN', name: 'Marathi' },
                { id: 'hi-IN', name: 'Hindi' },
                { id: 'gu-IN', name: 'Gujarati' },
                { id: 'kn-IN', name: 'Kannada' },
                { id: 'ta-IN', name: 'Tamil' },
                { id: 'ja-JP', name: 'Japanese' }
            ]
            $scope.langInput.langId = $scope.langList[0].id;
            // Check if browser supports the Web Speech API
            var recognition = null;
            if ('webkitSpeechRecognition' in window) {
                recognition = new webkitSpeechRecognition();
            } else if ('SpeechRecognition' in window) {
                recognition = new SpeechRecognition();
            }

            if (recognition) {
                recognition.continuous = false;  // Set to true for continuous recognition
                recognition.interimResults = false;  // Set to true for intermediate results
                recognition.lang = 'en-IN';
                // recognition.lang = ($scope.langInput.langId) ? $scope.langInput.langId : 'en-IN';
                //'en-US';  // Set the language (any BCP-47 language code)

                // Start recognition
                $scope.startRecognition = function () {
                    recognition.lang = ($scope.langInput.langId) ? $scope.langInput.langId : 'en-IN';
                    recognition.start();
                };

                // Capture result event
                recognition.onresult = function (event) {
                    var transcript = '';
                    for (var i = 0; i < event.results.length; ++i) {
                        transcript += event.results[i][0].transcript;
                    }
                    $scope.$apply(function () {
                        $scope.transcript = transcript;
                    });
                };

                // Handle errors
                recognition.onerror = function (event) {
                    console.error("Speech recognition error: ", event.error);
                };

                // Stop when speech ends
                recognition.onend = function () {
                    console.log("Speech recognition ended");
                };
            } else {
                console.log("SpeechRecognition is not supported in this browser.");
            }
        }]);
    </script>
</body>

</html>